@font-face {
	font-family: 'Exo2.0';
	src: url('./fonts/Exo2.0-Thin.otf');
}

body {
	margin: 0;
	font-family: -apple-system, 'Trebuchet MS', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
